

.container{
    margin: 20px 200px;
    padding: 20px;

    font-family: Arial, sans-serif;
    background-color: white;
}

.h1{
    color: #333;
    text-align: left;
    margin-bottom: 20px;

}
/* media queries for responsiveness */

/* for screens smaller than 768px (e.g., tablets) */
@media (max-width: 768px) and (min-width:480px) {
    
    .container{
        margin: 35px 20px 35px 80px;
        padding: 10px;
    }
  }
  
  /* for screens smaller than 480px (e.g., mobile phones) */
@media (max-width: 480px) {
    
    .container {
        margin: 35px 30px 25px 30px;
        padding: 25px;
        display:relative;
        
    }
    .h1{
        font-size: 25px;
    }
}
