.aside {
    display: flex;
    float: right;
    width: 25%;
} 

.menu {
    width: 100%;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
}

.menu button {
    border: none;
    /*background-color: white;*/
    padding: 5px 50px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 170px;
    height: 35px;
    padding: 0px;

}

.menu button:hover {
    background-color: #D0D0D0;
}

.section {
    width: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* margin-top: 90px; */
    margin-right: 100px;
    margin-bottom: 0px;
}

.vote_end {
    padding-right: 35px;
}

.container{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0px;
}

.startEnd{
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 18px;
}

.date{
    font-size: 14px;
    margin-bottom: 15px;
    color: #636363;;
}