
.nominee {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.nomineepic{
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 15px;
}

.nominee img {
    width: 100%;
    height: 100%;
    border-radius: 70%;
    object-fit: cover;
    
}

.nomineeInfo p {
    font-weight: lighter;
    color: #636363;


}
