
.main {
  padding: 10px;
  /* background-color: #f7f7f7; */
  border-radius: 12px;
  /* width: 80%; */
  /* width: 1200px;
  height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  transition: all 0.5s ease-in-out;
  margin-top: 35px;
  margin-left: 25%;
  margin-right: 200px;
  padding-right: 20px;

}







.currentNominations , .previousNominations {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
}

.previousNominations h2 {
  margin: 20px 0;
}

.currentNominations   h2 {
  margin-bottom: 20px;
}


.buttons {
  display: flex;
  justify-content: end;
  margin-left: 55vw;

}

.currentNominations button {
  padding: 10px 20px;
  margin-right: 10px ;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
  display: flex;
  justify-items: end;

}

.save {
  color: #fff;
  background-image: linear-gradient(to right, #e4001e, #aa0000);
  transition: background-image 0.8s ease-in-out, color 0.5s ease-in-out;

}

.cancel {
  color: #000;
  background-image: linear-gradient(to right, #dddddd, #d6d6d6);
  transition: background-image 0.8s ease-in-out, color 0.5s ease-in-out;

}

.currentNominations button:active {
  color: #000;
  font-weight: bolder;
}

.currentNominations button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.currentNominations button:nth-child(1):hover {
  background-image: linear-gradient(to right, #d6d6d6, #a7a7a7);
  color: #990000;
  box-shadow: #636363;
}

.currentNominations button:nth-child(2):hover {
  background-image: linear-gradient(to right, #aa0000, #D60220);
  color: #fff;
}