.main {
    padding: 10px;
    /* background-color: #f7c2c2; */
    width: 50%;
    /* width: 1200px;
    height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    /* text-align: right; */
    /* font-size: 18px; */
    /* font-weight: bold; */
    /* color: #000; */
    transition: all 0.5s ease-in-out;
    margin-top: 40px;
    margin-left: 10%;
    padding-right: 20px;
    margin-right: 50px;
    
  }

.p1{
    margin-bottom: 20px;
    color: rgb(83, 83, 83);
}

.main h1{
    margin-bottom: 10px;
}


.container{
    display: flex;
    /* flex-direction: column; */
}

.prizes{
    margin-top: 35px;
}

.prizeHeader{
    margin-bottom: 20px;
}